.CarouselContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
    padding: 20px;

    .ProjectsContainer {
        height: 570px;
        justify-content: center;

        .ProjectList {
            list-style-type: none;
            display: flex;
            padding: 0px;
            justify-content: space-between;


            li {
                margin: 0 0px 0 0;
            }

            #active {
                z-index: 1;
                opacity: 1;
            }

            #beside {
                z-index: -1;
                opacity: .7;
                transform: translateY(25px);
                transition: 0.4s;

                .CardContainer {
                    width: 340px;
                    height: 490px;

                    .CardImageContainer {

                        img {
                            width: 40%;
                            margin-top: 10px;
                        }
                    }

                    .CardContent {

                        padding: 20px 40px 0px 40px;
                        
                        .CardTitle {
                            margin-bottom: 20px;
                        }

                    }
                }

            }

            #far {
                z-index: -2;
                opacity: .7;
                transform: translateY(40px);
                transition: 0.4s;

                .CardContainer {
                    width: 320px;
                    height: 450px;

                    .CardImageContainer {

                        img {
                            width: 35%;
                            margin-top: 20px;
                        }
                    }

                    .CardContent {

                        padding: 25px 40px 0px 40px;

                        .CardTitle {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }

                        .CardDetail {
                            font-size: 11px;
                        }


                    }
                }

            }

            #sofar {
                z-index: -3;
                opacity: .7;
                transform: translateY(55px);
                transition: 0.4s;

                .CardContainer {
                    width: 300px;
                    height: 420px;

                    .CardImageContainer {

                        img {
                            width: 35%;
                            margin-top: 20px;
                        }
                    }

                    .CardContent {

                        padding: 25px 40px 0px 40px;

                        .CardTitle {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }

                        .CardDetail {
                            font-size: 11px;
                        }


                    }
                }

            }

            #hide {
                z-index: -3;
                opacity: 0;
                transition: 0.4s;

                .CardContainer {
                    width: 0px;
                    height: 0px;

                    .CardImageContainer {

                        img {
                            width: 0%;
                            margin-top: 0px;
                        }
                    }

                    .CardContent {

                        padding: 0px 0px 0px 0px;

                    }
                }

            }



            


        }

    }



    .CarouselControls {

        margin: 40px 0 0 0;
        justify-content: flex-start;

        .CarouselButtons {
            display: flex !important;
            //position: absolute;
            list-style-type: none;
            margin-top: 0px;
            padding-left: 50px;

            .CarouselButton {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #FDBD15;
                margin: 0 30px 0 0;
                padding: 20px;
                transition: 0.5s;

                &:hover {
                    background-color: #0073E6;
                    cursor: pointer;
                }

                span {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    border: 3px solid #ffffff;
                    transform: rotate(45deg);
                }

                .Previous {
                    margin-left: 3px;
                    border-top: 0;
                    border-right: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 2.5px;
                        background-color: #ffffff;
                        transform-origin: left;
                        transform: rotate(-45deg) translate(-6px, 5.3px) scale(0);
                        transition: 0.5s;
                    }

                }

                .Next {
                    margin-right: 3px;
                    border-bottom: 0;
                    border-left: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 2.5px;
                        background-color: #ffffff;
                        transform-origin: right;
                        transform: rotate(-45deg) translate(-3px, -5.3px) scale(0);
                        transition: 0.5s;
                    }
                    
                }

                &:hover {

                    .Previous {

                        &:before {
                            transform: rotate(-45deg) translate(-6px, 5.3px) scale(1);
                        }
                    }

                    .Next {

                        &:before {
                            transform: rotate(-45deg) translate(-3px, -5.3px) scale(1);
                        }
                    }
                }

            }

        }

    }

}