.SkillBar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 40px 40px !important;
    width: 440px;

    .BarTop {
        width: 420px;
        display: flex;
        justify-content: space-between;

        .BarTitle {
            font-size: 24px;
            color: #FFFFFF;
            font-weight: bold;
            font-stretch: expanded;
        }

        .BarIcons {
            display: flex;
            list-style-type: none;
            align-items: center;

            li {
                margin: 0 10px;
            }
        }
    }

    .BarContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 420px;
        height: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: #FEE7AA;

        .BarStatus {
            background-color: #FDBD15;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            height: 100%;    
        }
    }
}