.LandingPage {
  .container {
    padding: 0px;
    margin-top: 200px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .LandingContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .LandingPicture {
        width: 42%;
        height: auto;
        margin-left: 40px;

        img {
          width: 100%;
          height: auto;
          border-radius: 100%;
        }
      }

      .LandingContent {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        margin-left: 70px;

        li {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 30px;

          //Hello! I am
          &:nth-child(1) {
            font-size: 45px;
            font-weight: bold;
          }

          // Frank Miguel
          &:nth-child(2) {
            font-size: 55px;
            font-weight: bold;
            color: #0066cc;
          }

          // Full-Stack Developer
          &:nth-child(3) {
            font-size: 36px;
            color: #fdbd15;
          }
        }
      }
    }
  }

  .wave {
    display: flex;
    justify-content: flex-end;
  }

  .BottomAbout {
    width: 100%;
    margin: 0px 0 0px 0 !important;
    padding: 120px 0 150px 0 !important;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #0066cc;

    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      color: #ffffff;
    }

    .SkillsContent {
      margin: 100px;
      justify-content: center;
    }
  }

  .ContactContainer {
    .ContactRow {
      display: flex;
      justify-content: space-between;
      padding: 100px 200px 0 200px;

      .ContactInfo {
        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        margin: 120px 20px;

        h1 {
          font-size: 38px;
          font-weight: bold;
          margin: 0 0 3px 8px;
          color: #0066cc;
        }

        h2 {
          font-size: 35px;
          font-weight: bold;
          margin: 0 0 16px 0;
        }

        p {
          font-size: 20px;
          margin: 16px 0 16px 0;
          color: #2f3537;
        }

        .ContactList {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;
          list-style-type: none;
          margin-top: 20px;
          padding-left: 0;

          li {
            font-weight: bold;
            color: #2f3537;
            font-size: 18px;
          }

          .ContactItem {
            display: flex;
            justify-content: baseline;
            align-items: flex-start;
            margin-top: 25px;
            font-weight: normal;
            color: #5f6365;
            font-weight: 550;
            font-size: 16px;

            .phone {
              display: inline;
            }
          }
        }
      }

      .ContactMessage {
        width: 100%;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        padding: 70px 120px 70px 70px;
        margin-top: 65px;

        .form-group {
          .form-control {
            border-radius: 0;
            padding: 15px;
            font-weight: 540;
          }
        }

        button {
          border-radius: 0;
          padding: 10px 20px;
          font-weight: 550;
          background-color: #0066cc;
          color: #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .LandingPage {
    .container {
      justify-content: center;
      margin-top: 170px;

      .LandingContainer {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .LandingPicture {
          width: 70%;
          height: auto;
          margin-left: 0px;

          img {
            width: 100%;
            height: auto;
            border-radius: 100%;
          }
        }

        .LandingContent {
          list-style-type: none;
          margin: 0;
          margin-top: 30px;
          margin-left: 0px;
          padding: 10px;

          li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            text-align: center;

            //Hello! I am
            &:nth-child(1) {
              font-size: 45px;
              font-weight: bold;
            }

            // Frank Miguel
            &:nth-child(2) {
              font-size: 55px;
              font-weight: bold;
              color: #0066cc;
            }

            // Full-Stack Developer
            &:nth-child(3) {
              font-size: 36px;
              color: #fdbd15;
            }
          }
        }
      }
    }

    .wave {
      display: flex;
      justify-content: flex-end;
    }

    .BottomAbout {
      width: 100%;
      margin: 0px 0 0px 0 !important;
      padding: 120px 0 150px 0 !important;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      background-color: #0066cc;

      h1 {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
      }

      .SkillsContent {
        margin: 20px;
        justify-content: center;
      }
    }

    .ContactContainer {
      .ContactRow {
        display: flex;
        justify-content: space-between;
        padding: 60px 60px 0px 60px;

        .ContactInfo {
          width: 80%;
          display: flex !important;
          flex-direction: column;
          align-items: flex-start;
          margin: 120px 20px;

          h1 {
            font-size: 34px;
            font-weight: bold;
            margin: 0 0 3px 8px;
            color: #0066cc;
          }

          h2 {
            font-size: 30px;
            font-weight: bold;
            margin: 0 0 16px 0;
          }

          p {
            font-size: 18px;
            margin: 16px 0 16px 0;
            width: 80%;
            color: #2f3537;
          }

          .ContactList {
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            list-style-type: none;
            margin-top: 20px;
            padding-left: 0;

            li {
              font-weight: bold;
              color: #2f3537;
              font-size: 16px;
            }

            .ContactItem {
              display: flex;
              justify-content: baseline;
              align-items: flex-start;
              margin-top: 25px;
              font-weight: normal;
              color: #5f6365;
              font-weight: 550;
              font-size: 16px;

              .phone {
                display: inline;
              }
            }
          }
        }

        .ContactMessage {
          width: 100%;
          display: flex;
          border-radius: 15px;
          flex-direction: column;
          padding: 70px 0px;
          margin-top: 65px;

          .form-group {
            .form-control {
              border-radius: 0;
              padding: 15px;
              font-weight: 540;
            }
          }

          button {
            border-radius: 0;
            padding: 10px 20px;
            font-weight: 550;
            background-color: #0066cc;
            color: #fff;
          }
        }
      }
    }
  }
}
