body {
  overflow-x: hidden !important;
}

.Presentation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 200px;

  img {
    width: 320px;
    height: auto;
    border-radius: 100%;
    margin-right: 100px;
  }

  .Greeting {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;

    h1 {
      margin-bottom: 60px;
    }

    h3 {
      color: #1D60AA;
    }

    p {
      width: 380px;
      color: #2D2D2D;
      font-size: 20px;
      font-weight: 550;

    }

  }

  @media screen and (max-width: 950px) and (min-width: 495px) {
    
    flex-flow: column wrap;

    img { margin-right: 0; }
  
    .Greeting {
      align-items: center;
      padding-top: 40px;
  
      h3 { font-size: 24px; }
  
      p { text-align: center; }
  
    }

  }

  @media screen and (max-width: 495px) and (min-width: 400px) {
    
    flex-flow: column wrap;

    img {
      width: 240px;
      margin-right: 0;
    }
  
    .Greeting {
      align-items: center;
      padding-top: 40px;
  
      h1 {
        font-size: 32px;
      }
  
      h3 {
        font-size: 22px;
      }
  
      p {
        font-size: 18px;
        text-align: center;
      }
  
    }

  }

  @media screen and (max-width: 400px) {
    
    flex-flow: column wrap;

    img {
      width: 220px;
      margin-right: 0;
    }
  
    .Greeting {
      align-items: center;
      padding-top: 40px;

      h4 {
        font-size: 18px;
      }
  
      h1 {
        font-size: 25px;
      }
  
      h3 {
        font-size: 20px;
      }
  
      p {
        width: 250px;
        font-size: 18px;
        text-align: center;
      }
    }

  }

}

.Skills {
  width: 100vw;
  height: 1150px;
  padding-top: 200px;
  background-image: url('../images/index/waves/wave-xl.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .SkillsContent {

    h1 {
      color: #ffffff;
      font-weight: 550;
      font-size: 45px;
      text-align: center;
      margin-bottom: 100px;
    }

    .SkillsGrid {
      display: grid;
      grid-template-columns: auto auto;

    }

  }

  @media screen and (max-width: 1065px) and (min-width: 632px) {
    height: 1400px;
    background-image: url('../images/index/waves/wave-md.svg') !important;
    padding-top: 100px;


    .SkillsContent {

      padding-top: 0px;

      h1 {
        font-size: 35px;
        margin-bottom: 60px;
      }

      .SkillsGrid {
        grid-template-columns: auto;
      }

    }

  }

  @media screen and (max-width:  632px) and (min-width: 495px) {

    height: 1500px;
    background-image: url('../images/index/waves/wave-sm.svg') !important;
    padding-top: 100px;


    .SkillsContent {

      padding-top: 0px;

      h1 {
        font-size: 35px;
        margin-bottom: 60px;
      }

      .SkillsGrid {
        grid-template-columns: auto;
      }

    }

  }

  @media screen and (max-width:  495px) {

    height: 1500px;
    background-image: url('../images/index/waves/wave-xs.svg') !important;
    padding-top: 100px;


    .SkillsContent {

      padding-top: 0px;

      h1 {
        font-size: 28px;
        margin-bottom: 40px;
      }

      .SkillsGrid {
        grid-template-columns: auto;
      }

    }

  }

}

.Contact {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 170px 0px 100px 0px;

  .ContactMessage {

    h1 {
      font-size: 40px;
      font-weight: bold;
      color: #1D60AA;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 45px;
    }

    p {
      width: 420px;
      font-size: 21px;
    }

    .Quote {
      width: 300px;
      display: flex;
      flex-flow: column wrap;
      margin-top: 80px;
  
      q {
        font-weight: 550;
      }
  
      i {
        padding-top: 10px;
        text-align: end;
      }
    }

  }

  .ContactForm {

    width: 35vw;
  
    .form-group {
      .form-control {
        border-radius: 0;
        padding: 15px;
        font-weight: 540;
      }
    }
      
    button {
      border-radius: 0;
      padding: 10px 20px;
      font-weight: 550;
      background-color: #0066cc;
      color: #fff;
    }
  }

  @media screen and (max-width: 1025px) and (min-width: 924px) {

    height: 450px;
  
    .ContactMessage {
  
      h1 {
        font-size: 35px;
      }
  
      p {
        width: 360px;
        font-size: 18px;
      }
  
    }
  
  }

  @media screen and (max-width: 924px) and (min-width: 470px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  
    .ContactMessage {
  
      h1 {
        font-size: 35px;
      }
  
      p {
        width: 360px;
        font-size: 18px;
      }
  
      .Quote {
        margin-top: 30px;
      }
  
    }
  
    .ContactForm {
  
      width: 70vw;
      margin-top: 80px;
        
      button {
        margin-bottom: 60px;
      }
    }
  }

  @media screen and (max-width: 470px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  
    .ContactMessage {
  
      h1 {
        font-size: 25px;
        text-align: center;
      }
  
      h3 {
        font-size: 21px;
        text-align: center;
      }
  
      p {
        width: 90vw;
        font-size: 16px;
        text-align: center;

      }
  
      .Quote {
        width: 80vw;
        margin-top: 30px;
    
      }
  
    }
  
    .ContactForm {
  
      width: 80vw;
      margin-top: 80px;
        
      button {
        margin-bottom: 0px;
      }
    }
  }
}


