.PortfolioContainer {
  margin: 150px 0px 0 80px !important;
  overflow: hidden;

  .PortfolioRow {
    display: flex;
    justify-content: space-between !important;
    padding: 0 0 0 80px;

    .PortfolioTitle {
      display: flex !important;
      flex-flow: column wrap;
      justify-content: flex-start;
      margin: 260px 0px 0 0;

      h1 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 16px 0 !important;
        color: #fdbd15;
      }

      p {
        font-size: 22px;
        color: #2f3537;
      }
    }

    .PortfolioCarousel {
      display: flex;
      justify-content: center;
      margin: 70px 0 0 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1600px) {
  .PortfolioContainer {
    margin: 100px 0px 0 80px !important;
    overflow: hidden;

    .PortfolioRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between !important;
      padding: 0 0 0 0px;

      .PortfolioTitle {
        display: flex !important;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 130px 0 0 0;

        h1 {
          font-size: 38px;
          font-weight: bold;
          margin: 0 0 16px 0 !important;
          color: #fdbd15;
        }

        p {
          font-size: 22px;
          color: #2f3537;
        }
      }

      .PortfolioCarousel {
        display: flex;
        justify-content: center;
        margin: 100px 0 0 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 1229px) {
  .PortfolioContainer {
    margin: 100px 0px 0 40px !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 1189px) {
  .PortfolioContainer {
    margin: 20px 0px 0 40px !important;
    overflow: hidden;

    .PortfolioRow {
      display: flex;
      padding: 0 0 0 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .PortfolioTitle {
        display: flex !important;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 260px 0px 0 0;

        h1 {
          font-size: 38px;
          font-weight: bold;
          margin: 0 0 16px 0 !important;
          color: #fdbd15;
        }

        p {
          font-size: 22px;
          color: #2f3537;
        }
      }

      .PortfolioCarousel {
      }
    }
  }
}
