.BackgroundCard {
  width: 700px;
  height: 700px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(29,96,170,.34);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 70px 20px 20px 20px;
  align-items: center;
  margin-top: 40px;

  img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    padding: 15px;
    border: 1px solid #707070;
  }

  h4 {
    margin-top: 60px;
  }

  .CardContent {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 42px;
    width: 100%;

    .Row {
      width: 100%;
      display: flex;
      justify-content: space-around;
      
    }

    .Col {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      
      &:last-child {
        align-items: center;
      }

      h3 {
        font-size: 20px;
        color: #1D60AA;
        margin-bottom: 5px;
      }

      h5 {
        font-size: 17px;
      }

      p {
        width: 30%;
        font: 12px;
      }

    }

    h6 {
      font-size: 17px;
      margin-top: 30px;
      margin-left: 30px;
    }

    ul {
      list-style-type: none;
      padding-left: 30px;

      li {
        font-size: 16px;
        margin-bottom: 2px;
        
      }

    }

  }

  @media screen and (max-width: 1055px) and (min-width: 800px) {
    width: 600px;
    height: 600px;

    h4 {
      margin-top: 30px;
    }

    img {
      width: 90px;
      height: 90px;
      padding: 13px;
    }

    .CardContent {
  
      .Col {
      
        h3 {
          font-size: 18.5px;
          color: #1D60AA;
          margin-bottom: 5px;
        }
  
        h5 {
          font-size: 15.5px;
        }
  
      }
  
      h6 {
        font-size: 15.5px;
      }
  
      ul {
        list-style-type: none;
        padding-left: 30px;
  
        li {
          font-size: 15px;
          margin-bottom: 2px;
        }
  
      }
  
    }

  }

  @media screen and (max-width: 800px) and (min-width: 600px) {
    width: 500px;
    height: 650px;

    img {
      width: 86px;
      height: 86px;
      padding: 11.5px;
    }

    .CardContent {
  
      .Col {
      
        h3 {
          font-size: 17.5px;
          color: #1D60AA;
          margin-bottom: 5px;
        }
  
        h5 {
          font-size: 14px;
        }
  
      }
  
      h6 {
        font-size: 14px;
      }
  
      ul {
        list-style-type: none;
        padding-left: 30px;
  
        li {
          font-size: 13.5px;
          margin-bottom: 2px;
        }
  
      }
  
    }

  }

  @media screen and (max-width: 600px) and (min-width: 500px) {
    width: 430px;
    height: 430px;

    h4 {
      margin-top: 20px;
      font-size: 18px;
    }

    img {
      width: 83px;
      height: 83px;
      padding: 11.5px;
    }

    .CardContent {

      padding-top: 10px;
  
      .Col {
      
        h3 {
          font-size: 13.5px;
          color: #1D60AA;
          margin-bottom: 5px;
        }
  
        h5 {
          font-size: 11.7px;
        }
  
      }
  
      h6 {
        font-size: 13.7px;
      }
  
      ul {
        list-style-type: none;
        padding-left: 30px;
  
        li {
          font-size: 13.5px;
          margin-bottom: 2px;
        }
  
      }
  
    }

  }

  @media screen and (max-width: 500px) and (min-width: 458px) {
    width: 430px;
    height: 430px;

    h4 {
      margin-top: 20px;
      font-size: 18px;
    }

    img {
      width: 83px;
      height: 83px;
      padding: 11.5px;
    }

    .CardContent {

      padding-top: 10px;
  
      .Col {
      
        h3 {
          font-size: 13.5px;
          color: #1D60AA;
          margin-bottom: 5px;
        }
  
        h5 {
          font-size: 11.7px;
        }
  
      }
  
      h6 {
        font-size: 13.7px;
      }
  
      ul {
        list-style-type: none;
        padding-left: 30px;
  
        li {
          font-size: 13.5px;
          margin-bottom: 2px;
        }
  
      }
  
    }

  }

  @media screen and (max-width: 458px) {
    width: 300px;
    height: 480px;

    h4 {
      margin-top: 20px;
      font-size: 18px;
    }

    img {
      width: 83px;
      height: 83px;
      padding: 11.5px;
    }

    .CardContent {

      padding-top: 10px;

      .Row {
        flex-direction: column; 
      }
  
      .Col {
      
        h3 {
          font-size: 13.5px;
          color: #1D60AA;
          margin-bottom: 5px;
        }
  
        h5 {
          font-size: 11.7px;
        }
  
      }
  
      h6 {
        font-size: 13.7px;
      }
  
      ul {
        list-style-type: none;
        padding-left: 30px;
  
        li {
          font-size: 13.5px;
          margin-bottom: 2px;
        }
  
      }
  
    }

  }

  // @media screen and (max-width: 390px) and (min-width: 370px) {
  //   width: 300px;
  //   height: 630px;

  //   img {
  //     width: 70px;
  //     height: 70px;
  //     padding: 11.5px;
  //   }

  //   .CardContent {

  //     padding-top: 30px;
  
  //     .Col {
      
  //       h3 {
  //         font-size: 16.5px;
  //         color: #1D60AA;
  //         margin-bottom: 5px;
  //       }
  
  //       h5 {
  //         font-size: 11.7px;
  //       }
  
  //     }
  
  //     h6 {
  //       font-size: 11.7px;
  //       margin-left: 10px;
  //     }
  
  //     ul {
  //       list-style-type: none;
  //       padding-left: 10px;
  
  //       li {
  //         font-size: 11.5px;
  //         margin-bottom: 2px;
  //       }
  
  //     }
  
  //   }

  // }

  // @media screen and (max-width: 370px) and (min-width: 350px) {
  //   width: 280px;
  //   height: 630px;

  //   img {
  //     width: 65px;
  //     height: 65px;
  //     padding: 11px;
  //   }

  //   .CardContent {

  //     padding-top: 30px;
  
  //     .Col {
      
  //       h3 {
  //         font-size: 14.5px;
  //         color: #1D60AA;
  //         margin-bottom: 5px;
  //       }
  
  //       h5 {
  //         font-size: 11.7px;
  //       }
  
  //     }
  
  //     h6 {
  //       font-size: 11.7px;
  //       margin-left: 10px;
  //     }
  
  //     ul {
  //       list-style-type: none;
  //       padding-left: 10px;
  
  //       li {
  //         font-size: 11.5px;
  //         margin-bottom: 2px;
  //       }
  
  //     }
  
  //   }

  // }

  // @media screen and (max-width: 350px) {
  //   width: 280px;
  //   height: 630px;

  //   img {
  //     width: 65px;
  //     height: 65px;
  //     padding: 11px;
  //   }

  //   .CardContent {

  //     padding-top: 30px;
  
  //     .Col {
      
  //       h3 {
  //         font-size: 14.5px;
  //         color: #1D60AA;
  //         margin-bottom: 5px;
  //       }
  
  //       h5 {
  //         font-size: 11.7px;
  //       }
  
  //     }
  
  //     h6 {
  //       font-size: 11.7px;
  //       margin-left: 10px;
  //     }
  
  //     ul {
  //       list-style-type: none;
  //       padding-left: 10px;
  
  //       li {
  //         font-size: 11.5px;
  //         margin-bottom: 2px;
  //       }
  
  //     }
  
  //   }

  // }

}
