.ProjectCard {
  width: 390px;
  height: 540px;
  border-radius: 20px;
  background-color:#ffffff;
  margin: 40px;
  position: relative;

  .CardContainer {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 140px;
      height: auto;
      margin-top: 20px;
      user-select: none;
    }

    .CardContent {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 40px 40px 0px 40px;

    .CardTitle {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #0073e6;
      text-align: center;
    }

    .CardDescription {
      font-size: 16px;
      color: #2f3537;
      text-align: center;
    }

    .CardTags {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding: 10px 0;

      li {
        padding: 0 5px;
        font-size: 14px;
        text-align: center;


        &.highlighted {
          font-weight: bold;
        }
      }
    }

    .CardIcons {
      list-style-type: none;
      display: flex;
      padding-left: 0;
      justify-content: center;
      align-items: center;

      li {
        padding: 5px 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: #0073e6;
          font-size: 32px;
          cursor: pointer;
          font-weight: lighter;
          text-align: center;
        }

      }
    }
    }

  }

  .CardOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgb(66, 99, 209);
    width: 100%;
    height: 40%;
    opacity: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px;
    transition: .35s ease-in-out;
    z-index: -1;

    h5 {
      color: #ffffff;
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
      width: 65%;
    }

    ul {
      width: 65%;
      height: 60px;
      display: flex;
      list-style-type: none;
      margin-bottom: 0;
      padding: 15px;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;

        a {
            
          svg {
            font-size: 32px;
            color: #ffffff;
            transition: .3s ease-in-out;

           
            &:hover {
              color: #000000;
            }
            
          }

        }

      }

    }

    &.up {
      opacity: 1;
      height: 100%;
      z-index: 1;
    }

  }

  @media screen and (max-width: 1500px) and (min-width: 468px) {

    width: 350px;
    height: 500px;

    .CardContainer {

      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 120px;
      }

      .CardContent {
      padding: 30px 30px 0px 30px;
  
      .CardTitle {
        font-size: 20px;
      }
  
      .CardDescription {
        font-size: 15px;
        color: #2f3537;
      }
  
      .CardIcons {

        li {
          i {
            font-size: 30px;
          }
        }
      }
      }

    }

    .CardOverlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      bottom: 0;
      background-color: rgb(66, 99, 209);
      width: 100%;
      height: 40%;
      opacity: 0;
      border-radius: 20px;
      cursor: pointer;
      padding: 0px;
      transition: .35s ease-in-out;
      z-index: -1;
  
      h5 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        font-size: 20px;
        width: 65%;
      }
  
      ul {
      width: 65%;
      height: 60px;
      display: flex;
      list-style-type: none;
      margin-bottom: 0;
      padding: 15px;
      justify-content: center;
      align-items: center;

      li {
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        

        a {
            
          svg {
            font-size: 32px;
            color: #ffffff;
            transition: .3s ease-in-out;

           
            &:hover {
              color: #000000;
            }
            
          }

        }

      }
  
      }
  
      &.up {
        opacity: 1;
        height: 100%;
        z-index: 1;
      }

    }

  }

  @media screen and (max-width: 468px) and (min-width: 406px) {
    width: 320px;
    height: 470px;

    .CardContainer {

      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 105px;
      }

      .CardContent {
        padding: 30px 30px 0px 30px;
  
        .CardTitle {
          font-size: 18px;
        }
  
        .CardDescription {
          font-size: 14px;
          color: #2f3537;
        }
  
        .CardIcons {
          li {
            i {
              font-size: 28px;
            }
          }
        }
      }
    }

    .CardOverlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      bottom: 0;
      background-color: rgb(66, 99, 209);
      width: 100%;
      height: 40%;
      opacity: 0;
      border-radius: 20px;
      cursor: pointer;
      padding: 0px;
      transition: .35s ease-in-out;
      z-index: -1;
  
      h5 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
        width: 65%;
      }
  
      ul {
        width: 65%;
        height: 60px;
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        padding: 15px;
        justify-content: center;
        align-items: center;
  
        li {
          display: flex;
          padding: 20px;
          justify-content: center;
          align-items: center;

          a {
            
            svg {
              font-size: 32px;
              color: #ffffff;
              transition: .3s ease-in-out;

             
              &:hover {
                color: #000000;
              }
              
            }
  
          }

        }
  
      }
  
      &.up {
        opacity: 1;
        height: 100%;
        z-index: 1;
      }
  
    }

  }

  @media screen and (max-width: 406px) and (min-width: 345px) {
    width: 270px;
    height: 430px;

    .CardContainer {

      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 90px;
      }

      .CardContent {
        padding: 30px 30px 0px 30px;
    
        .CardTitle {
          font-size: 17px;
        }
    
        .CardDescription {
          font-size: 13px;
          color: #2f3537;
        }

        .CardTags {
          li {
            font-size: 12px;
          }
        }
    
        .CardIcons {

          li {
            i {
              font-size: 28px;
            }
          }
        }
      }
    }

    .CardOverlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      bottom: 0;
      background-color: rgb(66, 99, 209);
      width: 100%;
      height: 40%;
      opacity: 0;
      border-radius: 20px;
      cursor: pointer;
      padding: 0px;
      transition: .35s ease-in-out;
      z-index: -1;
  
      h5 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        font-size: 16.5px;
        width: 65%;
      }
  
      ul {
        width: 65%;
        height: 60px;
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        padding: 15px;
        justify-content: center;
        align-items: center;
  
        li {
          display: flex;
          padding: 20px;
          justify-content: center;
          align-items: center;

          a {
            
            svg {
              font-size: 32px;
              color: #ffffff;
              transition: .3s ease-in-out;

             
              &:hover {
                color: #000000;
              }
              
            }
  
          }

        }
  
      }
  
      &.up {
        opacity: 1;
        height: 100%;
        z-index: 1;
      }
  
    }
  }

  @media screen and (max-width: 345px) {
    width: 250px;
    height: 410px;

    .CardContainer {

      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        width: 75px;
      }

      .CardContent {
        padding: 30px 30px 0px 30px;
    
        .CardTitle {
          font-size: 16px;
        }
    
        .CardDescription {
          font-size: 13px;
          color: #2f3537;
        }

        .CardTags {
          li {
            font-size: 12px;
          }
        }
    
        .CardIcons {

          li {
            i {
              font-size: 26px;
            }
          }
        }
      }
    }

    .CardOverlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      bottom: 0;
      background-color: rgb(66, 99, 209);
      width: 100%;
      height: 40%;
      opacity: 0;
      border-radius: 20px;
      cursor: pointer;
      padding: 0px;
      transition: .35s ease-in-out;
      z-index: -1;
  
      h5 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        font-size: 16.5px;
        width: 65%;
      }
  
      ul {
        width: 65%;
        height: 60px;
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        padding: 15px;
        justify-content: center;
        align-items: center;
  
        li {
          display: flex;
          padding: 20px;
          justify-content: center;
          align-items: center;
          
          a {
            
            svg {
              font-size: 32px;
              color: #ffffff;
              transition: .3s ease-in-out;

             
              &:hover {
                color: #000000;
              }
              
            }
  
          }

        }
  
      }
  
      &.up {
        opacity: 1;
        height: 100%;
        z-index: 1;
      }
  
    }

  }
  
}

