.Skill {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 40px 40px !important;
  width: 370px;

  .BarTop {
    width: 370px;
    display: flex;
    justify-content: space-between;

    .BarTitle {
      font-size: 22px;
      color: #ffffff;
      font-stretch: expanded;
    }

    .BarIcons {
      display: flex;
      list-style-type: none;
      align-items: center;

      li {
        margin: 0 10px;

        i {
          color: #fff;
          font-size: 30px;
          cursor: pointer;
          font-weight: lighter;
          // font-family: 'Segoe UI';
        }

      }
    }
  }

  .BarContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 370px;
    height: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FFFFFF;

    .BarStatus {
      background-color: #557FAD;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      height: 90%;
      margin-left: 1.5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .Indicator {
        width: 20%;
        height: 100%;
        color: aqua;
        cursor: pointer;
      }

    }
  }
}

@media screen and (max-width:  530px) and (min-width: 475px) {

  .Skill {
    width: 340px;
  
    .BarTop {
      width: 340px;
  
      .BarTitle {
        font-size: 20px;
      }
  
      .BarIcons {
  
        li {
  
          i {
            font-size: 28px;
          }
  
        }
      }
    }
  
    .BarContainer {
      width: 340px;
    }
  }

}

@media screen and (max-width:  475px) and (min-width: 400px) {

  .Skill {
    width: 300px;
  
    .BarTop {
      width: 300px;
  
      .BarTitle {
        font-size: 20px;
      }
  
      .BarIcons {
  
        li {
          margin: 0 4px;
  
          i {
            font-size: 24px;
          }
  
        }
      }
    }

    .BarContainer {
      width: 300px;
      height: 15px;
  
      .BarStatus {
        height: 80%;
  
      }
    }
  }
}

@media screen and (max-width:  400px) and (min-width: 320px) { 

  .Skill {
    width: 235px;
  
    .BarTop {
      width: 235px;
  
      .BarTitle {
        font-size: 17px;
      }
  
      .BarIcons {
  
        li {
          margin: 0 2px;
  
          i {
            font-size: 22px;
          }
  
        }
      }
    }
  
    .BarContainer {
      width: 235px;
      height: 15px;
  
      .BarStatus {
        height: 80%;
  
      }
    }
  }
}
