body {
    overflow-x: hidden !important;
}

.TopMessageProject {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 240px;
    padding-bottom: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
  
    h1 {
      color: #ED8A2E;
      margin-bottom: 35px;
    }
  
    h4 {
      width: 600px;
      text-align: center;
    }
  
    @media screen and (max-width: 650px) and (min-width: 425px) {
    
      margin-top: 280px;
  
      h1 {
        font-size: 32px;
      }
  
      h4 {
        font-size: 20px;
        width: 420px;
      }
  
    }
  
    @media screen and (max-width: 425px) and (min-width: 380px) {
  
      margin-top: 265px;
  
      h1 {
        font-size: 30px;
      }
  
      h4 {
        font-size: 18px;
        width: 380px;
      }
  
    }
  
    @media screen and (max-width: 380px) {
  
      margin-top: 245px;
      margin-bottom: 40px;
  
      h1 {
        font-size: 26px;
      }
  
      h4 {
        font-size: 14px;
        width: 260px;
      }
  
    }
  
}



.ActionBoxContainer {
    width: 100vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    margin-bottom: 100px;
    
    .ActionBox {
        width: 600px;
        height: 380px;
        background-color: #fff;
        box-shadow: 0px 0px 7px 2px hsla(0, 0%, 37%, 0.253);
        margin-right: 0px;
        margin: 25px 15px;
        user-select: none;
        cursor: pointer;
        transition: 500ms;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: translateY(-20px);    
        }

    }
}

.ImagePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(92, 92, 92, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;

    .ImagePopupInner {
        position: relative;
        // padding: 30px 40px 40px 40px;
        width: 60%;
        // height: 710px;
        // z-index: 550;

        img {
            width: 100%;
            height: auto;
        }

    }
  
}

.ImagePopup_hidden {
    display: none;
}


