
@font-face {
    font-family: "Coolvetica";
    src: url('./fonts/coolvetica.woff?1456465350');
    src: url('./fonts/coolvetica.woff?&1456465350#iefix') format('embedded-opentype'), url('./fonts/coolvetica.ttf?1456465350') format('truetype'), url('./fonts/coolvetica.eot?1456465350') format('embedded-opentype'), url('./fonts/coolvetica.svg?1456465350') format('svg');
    font-weight: "./fonts/coolvetica.otf";
  }

$PrimaryFontFamily: 'Coolvetica';
$AccentColor: #FEBD15;
$PrimaryTextColor: #FFFFFF;
$SecondaryTextColor: #2C2C2C