header{
  
    background-color: #60757C;
    width: 100%;
    height: 971px;
    background-size: cover;
    background-attachment: fixed;



}

header::after{
  content: "";
  display: block;
  width: 100%;
  height: 971px;
  background-image: url('../static/cover2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .45;
  z-index: 0;

}

header > * {

    z-index: 10;
    position: relative;

}
